In [1]:
# Importing pandas package
import pandas as pd

#making data frame from csv file 
data = pd.read_csv("nba-2.csv", index_col="Name")

#retrieving columns by indexing operator
first = data["Age"]
print(first)

Name
Avery Bradley    25
Jae Crowder      25
John Holland     27
R.J. Hunter      22
Jonas Jerebko    29
                 ..
Trey Lyles       20
Shelvin Mack     26
Raul Neto        24
Tibor Pleiss     26
Jeff Withey      26
Name: Age, Length: 457, dtype: int64

In [6]:
#selecting a multiple row

# Importing pandas package
import pandas as pd

#making data frame from csv file 
data = pd.read_csv("nba-2.csv", index_col="Name")
#retriving multiple columns by indexing operator
first = data[["Age", "College", "Salary"]]
print(first)

               Age            College     Salary
Name
Avery Bradley   25              Texas  7730337.0
Jae Crowder     25          Marquette  6796117.0
John Holland    27  Boston University        NaN
R.J. Hunter     22      Georgia State  1148640.0
Jonas Jerebko   29                NaN  5000000.0
...            ...                ...        ...
Trey Lyles      20           Kentucky  2239800.0
Shelvin Mack    26             Butler  2433333.0
Raul Neto       24                NaN   900000.0
Tibor Pleiss    26                NaN  2900000.0
Jeff Withey     26             Kansas   947276.0

[457 rows x 3 columns]

In [10]:
#selecting a single row

# Importing pandas package
import pandas as pd

#making data frame from csv file 
data = pd.read_csv("nba-2.csv", index_col="Name")

#retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]

print(first,"\n\n\n",second)

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height               2-Jun
Weight                 180
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [8]:
data.head(5)

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [12]:
#selecting a multile row

# Importing pandas package
import pandas as pd

#making data frame from csv file 
data = pd.read_csv("nba-2.csv", index_col="Name")

#retrieving multiple row by loc method
first = data.loc[["Avery Bradley","R.J. Hunter"]]
print(first)

                         Team  Number Position  Age Height  Weight  \
Name
Avery Bradley  Boston Celtics       0       PG   25  2-Jun     180
R.J. Hunter    Boston Celtics      28       SG   22  5-Jun     185

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0

In [13]:
#selecting a two rows and three columns

# Importing pandas package
import pandas as pd

#making data frame from csv file 
data = pd.read_csv("nba-2.csv", index_col="Name")

#retrieving two rows and three columns by loc method
first = data.loc[["Avery Bradley","R.J. Hunter"],["Team","Number","Position"]]
print(first)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics       0       PG
R.J. Hunter    Boston Celtics      28       SG

In [14]:
#selecting all rows and some columns

# Importing pandas package
import pandas as pd

#making data frame from csv file 
data = pd.read_csv("nba-2.csv", index_col="Name")

#retrieving all rows and some columns by loc method
first = data.loc[:, ["Team","Number","Position"]]
print(first)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics       0       PG
Jae Crowder    Boston Celtics      99       SF
John Holland   Boston Celtics      30       SG
R.J. Hunter    Boston Celtics      28       SG
Jonas Jerebko  Boston Celtics       8       PF
...                       ...     ...      ...
Trey Lyles          Utah Jazz      41       PF
Shelvin Mack        Utah Jazz       8       PG
Raul Neto           Utah Jazz      25       PG
Tibor Pleiss        Utah Jazz      21        C
Jeff Withey         Utah Jazz      24        C

[457 rows x 3 columns]

In [15]:
#selecting a single rows

# Importing pandas package
import pandas as pd

#making data frame from csv file 
data = pd.read_csv("nba-2.csv", index_col="Name")

#retrieving a rows by loc method
row2 = data.iloc[3]
print(row2)

Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [16]:
#selecting a multiple rows

# Importing pandas package
import pandas as pd

#making data frame from csv file 
data = pd.read_csv("nba-2.csv", index_col="Name")

#retrieving multiple rows by loc method
row2 = data.iloc[[3,5,7]]
print(row2)

                        Team  Number Position  Age  Height  Weight  \
Name
R.J. Hunter   Boston Celtics      28       SG   22   5-Jun     185
Amir Johnson  Boston Celtics      90       PF   29   9-Jun     240
Kelly Olynyk  Boston Celtics      41        C   25  Jul-00     238

                    College      Salary
Name
R.J. Hunter   Georgia State   1148640.0
Amir Johnson            NaN  12000000.0
Kelly Olynyk        Gonzaga   2165160.0

In [17]:
#selecting a two rows two columns

# Importing pandas package
import pandas as pd

#making data frame from csv file 
data = pd.read_csv("nba-2.csv", index_col="Name")

#retrieving two rows two columns by loc method
row2 = data.iloc[[3,5,],[1,2]]
print(row2)

              Number Position
Name
R.J. Hunter       28       SG
Amir Johnson      90       PF